<app-common-frame>
  <app-entity-toolbar></app-entity-toolbar>
  <form [formGroup]="createEntityForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-content class="edit-entity-form-block">

        <mat-form-field>
          <input matInput placeholder="Entity name" formControlName="entityName">
          <mat-error *ngIf="entityNameFormControl.hasError('required')">Enter entity name!</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-card-content>
            <input matInput style="display: none">
            <mat-radio-group formControlName="entityRace">
              <mat-radio-button *ngFor="let entityRace of possibleEntityRaces" [value]="entityRace">
                {{entityRace}}
              </mat-radio-button>
            </mat-radio-group>
          </mat-card-content>
          <mat-error *ngIf="entityRaceFormControl.hasError('required')">Select entity race!</mat-error>
        </mat-form-field>

        <mat-card-content>
          <mat-checkbox formControlName="isEntityStrong">strong entity</mat-checkbox>
        </mat-card-content>

        <mat-form-field>
          <mat-select placeholder="Entity status" formControlName="entityStatus">
            <mat-option *ngFor="let entityStatus of possibleEntityStatuses" [value]="entityStatus">
              {{entityStatus}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="entityStatusFormControl.hasError('required')">Select entity status!</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Entity hobby" formControlName="entityHobby" [matAutocomplete]="autocompleteHobbies">
          <mat-autocomplete #autocompleteHobbies="matAutocomplete">
            <mat-option *ngFor="let hobby of filteredPossibleEntityHobbies | async" [value]="hobby">{{hobby}}</mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="entityHobbyFormControl.hasError('required')">Enter entity hobby!</mat-error>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Entity description" formControlName="entityDescription"></textarea>
          <mat-error *ngIf="entityDescriptionFormControl.hasError('required')">Enter entity description!</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Creation date" formControlName="entityCreationDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
          <mat-error *ngIf="entityCreationDateFormControl.hasError('required')">Select creation date!</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Entity ipV4" formControlName="entityIpV4">
          <mat-error *ngIf="entityIpV4FormControl.hasError('pattern') && !entityIpV4FormControl.hasError('required')">Enter valid ip address</mat-error>
        </mat-form-field>

        <button mat-button type="submit">Save</button>
      </mat-card-content>

    </mat-card>
  </form>
</app-common-frame>

