.login-sidebar{
  position: absolute;
  left: 0;
  width: 380px;
  min-width: 380px;
  top: 0;
  height: 100%;
  bottom: 0;
  background-color: #44536a;
  min-height: 600px !important;
  overflow: visible;
  display: flex;
  align-items: center;
  flex-direction: column;
}

div#main-content-container
{
  position: absolute;
  left: 220px;
  top: 46px;
  bottom: 0;
  right: 0;
  overflow: hidden;
  min-width: 1000px;
}

.login-form
{
  display: flex;
  flex-direction: column;

}

.mat-form-field {
  height: 21px;
  width: 300px;
  margin-bottom: 35px;
}

.login-form-image {
  margin-top: 250px;
  margin-bottom: 15px;
  content: url("../../assets/profile.png");
}

.mat-button {
  font-weight: bold;
  background-color: #5c9ef5;
  color: white;
  margin-top: 15px;
}

.disabled
{
  background-color: brown;
}

.mat-error
{
  margin-top: 15px ;
  color: red;
  text-align: center;
}

