<div class="login-sidebar">
  <div class="login-form-image"></div>
  <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password">
    </mat-form-field>
    <button mat-button type="submit">Enter</button>

    <mat-error>{{getErrorMessage()}}</mat-error>
  </form>
</div>

<div class="main-content-container"></div>
