/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0 1000px #44536a inset;
  transition: background-color 5000s ease-in-out 0s;
}

.login-sidebar{
  position: absolute;
  left: 0;
  width: 380px;
  min-width: 380px;
  top: 0;
  height: 100%;
  bottom: 0;
  background-color: #44536a;
  min-height: 600px !important;
  overflow: visible;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-content-container
{
  position: absolute;
  left: 220px;
  top: 46px;
  bottom: 0;
  right: 0;
  overflow: hidden;
  min-width: 1000px;
}

.login-form
{
  display: flex;
  flex-direction: column;
}

.mat-form-field
{
  height: 21px;
  width: 300px;
  margin-bottom: 35px;
  -webkit-text-fill-color: white;
}

.login-form-image
{
  margin-top: 250px;
  margin-bottom: 15px;
  content: url("../../../../assets/profile.png");
}

.mat-button
{
  font-weight: bold;
  background-color: #5c9ef5;
  color: white;
  margin-top: 15px;
}

.mat-error
{
  margin-top: 15px ;
  text-align: center;
}

