<mat-sidenav-container class="sidebar-container">
  <mat-sidenav cdk-scrollable="false" mode="side" opened class="sidebar-nav">
    <mat-toolbar class="sidebar-nav__header">
      <a class="sidebar-nav__profile">
        <div class="sidebar-nav__profile-img"></div>
        <div class="sidebar-nav__profile-email">{{currentUser.email}}</div>
      </a>
      <a class="sidebar-nav__logout-link" routerLink="/login" (click)="logout()">
        <div class="sidebar-nav__logout-img"></div>
      </a>
    </mat-toolbar>
    <mat-nav-list class="nav-list" *ngFor="let header of sidebarHeaders">
      <h3 mat-subheader>{{header.header}}</h3>
      <a class="nav-list__link" mat-list-item *ngFor="let link of header.links" routerLink="{{link.path}}" routerLinkActive="nav-list__link_selected">
        <div class="nav-list__content">
            {{link.name}}
            <img src="{{link.icon}}"/>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <app-toolbar></app-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
