<mat-sidenav-container class="sidebar-container">
  <mat-sidenav mode="side" opened class="sidebar-nav">
    <mat-nav-list *ngFor="let header of sidebarHeaders">
      <h3 mat-subheader>{{header.header}}</h3>
      <a mat-list-item *ngFor="let link of header.links" routerLink="{{link.path}}">
        <div class="nav-list-item">
            {{link.name}}
            <img src="{{link.icon}}"/>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>
