<app-common-frame>
  <mat-drawer-container class="filter-panel-container" autosize>
    <mat-drawer mode="side">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let filter of listPageFilters">
          <mat-expansion-panel-header>
            <mat-panel-title>{{filter.name}}</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item class="filter-item-block" *ngFor="let item of filter.items">
              <mat-checkbox (change)="applyAllFilters()" [(ngModel)]="item.checked">{{item.name}}</mat-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-drawer>
    <app-toolbar [badge]="quantityOfChecked"></app-toolbar>
    <app-entity-list [entities]="filteredAbstractEntities" (select)="onSelect($event)"></app-entity-list>
  </mat-drawer-container>
</app-common-frame>
