@import '../node_modules/@angular/material/theming';

@include mat-core();

$wisla-theme-primary: mat-palette($mat-light-blue, 700, 300, 400);
$wisla-theme-accent: mat-palette($mat-light-blue);
$wisla-theme-warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$wisla-theme: mat-light-theme(
    $wisla-theme-primary,
    $wisla-theme-accent,
    $wisla-theme-warn
);

@include angular-material-theme($wisla-theme);
